# Change "%USERPROFILE%\.glzr\glazewm\config.yaml" to symlink to this config, by using admin CMD & :
# mklink "C:\Users\BCS\.glzr\glazewm\config.yaml" "C:\Users\BCS\Git\Windows-Config\config.yaml"

general:
  # Commands to run when the WM has started (e.g. to run a script or launch
  # another application). Here we are running a batch script to start Zebar.
  startup_commands: [
    "shell-exec zebar",
  ]

  shutdown_commands: ['shell-exec taskkill /IM zebar.exe /F']
  config_reload_commands: []


  focus_follows_cursor: false
  toggle_workspace_on_refocus: false
  
  cursor_jump:
    # Whether to automatically move the cursor on the specified trigger.
    enabled: true
    # Trigger for cursor jump:

    # - 'monitor_focus': Jump when focus changes between monitors.
    # - 'window_focus': Jump when focus changes between windows.
    # trigger: "monitor_focus"
    trigger: "window_focus"

  show_all_in_taskbar: true


gaps:
  # Gap between adjacent windows.
  inner_gap: "10px"

  # Gap between windows and the screen edge.
  outer_gap:
    top: "40px"
    right: "10px"
    bottom: "10px"
    left: "10px"


window_effects:
  # Visual effects to apply to the focused window.
  focused_window:
    # Highlight the window with a colored border.
    # ** Exclusive to Windows 11 due to API limitations.
    border:
      enabled: true
      color: '#1dbcf1'
      
  # Visual effects to apply to non-focused windows.
  other_windows:
    border:
      enabled: true
      color: "#a1a1a1"


window_behavior:
  # New windows are created in this state whenever possible.
  # Allowed values: 'tiling', 'floating'.
  initial_state: "tiling"
  # Sets the default options for when a new window is created. This also
  # changes the defaults for when the state change commands, like
  # `set-floating`, are used without any flags.

  state_defaults:
    floating:
      # Whether to center floating windows by default.
      centered: true
      # Whether to show floating windows as always on top.

      shown_on_top: true
    fullscreen:
      # Maximize the window if possible. If the window doesn't have a
      # maximize button, then it'll be fullscreen'ed normally instead.
      maximized: false

      shown_on_top: false


workspaces:
  - name: "1"
    bind_to_monitor: 0
  - name: "2"
    bind_to_monitor: 0
  - name: "3"
    bind_to_monitor: 1
  - name: "4"
    bind_to_monitor: 1
  - name: "5"
    bind_to_monitor: 2
  - name: "6"
    bind_to_monitor: 2
  - name: "7"
    bind_to_monitor: 2
  - name: "8"
    bind_to_monitor: 2
  - name: "9"
    bind_to_monitor: 2


window_rules:
  - commands: ["move --workspace 1"]
    match:
      - window_process: { regex: "slack" }

  - commands: ["move --workspace 2"]
    match:
      - window_process: { regex: "Discord" }

  - commands: ["move --workspace 1"]
    match:
      - window_process: { regex: "iTunes" }
      
  - commands:  ["move --workspace 2"]
    match:
      - window_process: { regex: "claude" }

  - commands: ["move --workspace 3"]
    match:
      - window_process: { regex: "msedge" }

  - commands: ["move --workspace 4"]
    match:
      - window_process: { regex: "GitHub" } 

  - commands: ["move --workspace 5"]
    match:
      - window_process: { regex: "Windsurf" } 


  - commands: ["ignore"]
    match:
      # Ignores any Zebar windows.
      - window_process: {equals: "zebar"}
      - window_title: {regex: "[Pp]icture.in.[Pp]icture"}
        # Ignores picture-in-picture windows for browsers.
        window_class: {regex: "Chrome_WidgetWin_1|MozillaDialogClass"}
      - window_process: {equals: "PowerToys.PowerAccent"}
        #Ignore setup/install/update boxes maybe?
      - window_title: {regex: "[Ss]etup|[Ii]nstall"}
      - window_class: {equals: "#32770"}

binding_modes:

keybindings:
  # Shift focus in a given direction.
  - commands: ["focus --direction left"]
    bindings: ["alt+h", "alt+left"]
  - commands: ["focus --direction right"]
    bindings: ["alt+l", "alt+right"]
  - commands: ["focus --direction up"]
    bindings: ["alt+k", "alt+up"]
  - commands: ["focus --direction down"]
    bindings: ["alt+j", "alt+down"]
  - commands: ["move --direction left"]

    # Move focused window in a given direction.
    bindings: ["alt+shift+h", "alt+shift+left"]
  - commands: ["move --direction right"]
    bindings: ["alt+shift+l", "alt+shift+right"]
  - commands: ["move --direction up"]
    bindings: ["alt+shift+k", "alt+shift+up"]
  - commands: ["move --direction down"]
    bindings: ["alt+shift+j", "alt+shift+down"]

    # Change tiling direction. This determines where new tiling windows will
    # be inserted.
  - commands: ["toggle-tiling-direction"]
    bindings: ["alt+v"]
    
    # Change the focused window to be tiling.
  - commands: ["toggle-tiling"]
    bindings: ["alt+t"]

    # Close focused window.
  - commands: ["close"]
    bindings: ["alt+q"]

    # Kill GlazeWM process safely
  - commands: ["wm-exit"]
    bindings: ["alt+shift+escape"]

    # Reload configuration file.
  - commands: ["wm-reload-config"]
    bindings: ["alt+escape"]

##### Custom Binds #####

  - commands: ["shell-exec alacritty"]
    bindings: ["alt+enter"]

  - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\AnthropicClaude\\claude.exe"]
    bindings: ["alt+a"]
    
  - commands: ["shell-exec %USERPROFILE%\\Git\\Windows-Config\\Shortcuts\\Discord.lnk"]
    bindings: ["alt+d"]

  - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\Programs\\Windsurf\\Windsurf.exe"]
    bindings: ["alt+c"]
    
  - commands: ["shell-exec C:\\Program Files (x86)\\Microsoft\\Edge\\Application\\msedge.exe"] # Try to understand this program files thing?
    bindings: ["alt+e"]

  - commands: ["shell-exec C:\\Program Files\\iTunes\\iTunes.exe"]
    bindings: ["alt+i"]

  - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\GitHubDesktop\\GitHubDesktop.exe"]
    bindings: ["alt+g"]

  - commands: ["shell-exec desk.cpl"]
    bindings: ["alt+m"]

  - commands: ["shell-exec explorer.exe"]
    bindings: ["alt+f"]

  - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\Programs\\Notion\\Notion.exe"]
    bindings: ["alt+n"]

  - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\Programs\\cron-web\\Notion Calendar.exe"]
    bindings: ["alt+shift+n"]

  - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\slack\\slack.exe"]
    bindings: ["alt+s"]

  # - commands: ["shell-exec %USERPROFILE%\\AppData\\Local\\Programs\\Opera GX\\opera.exe"]
  #   bindings: ["alt+o"]

  # - commands: ["shell-exec C:\\ProgramData\\Ableton\\Live 12 Suite\\Program\\Ableton Live 12 Suite.exe"]
  #   bindings: ["alt+shift+a"]

  # - commands: ["shell-exec C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe --app=https://github.com/Yensid10?tab=repositories"]
  - commands: ["shell-exec C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe --app=https://github.com/Yensid10?tab=repositories"]
    bindings: ["alt+shift+g"]

  # - commands: ["shell-exec C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe --app=https://www.youtube.com/"]
  - commands: ["shell-exec C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe --app=https://www.youtube.com/"]
    bindings: ["alt+y"]

  # - commands: ["shell-exec C:\\Program Files\\Adobe\\Adobe Premiere Pro 2025\\Adobe Premiere Pro.exe"]
  #   bindings: ["alt+p"]

  # - commands: ["shell-exec C:\\Program Files\\Docker\\Docker\\Docker Desktop.exe"]
  #   bindings: ["alt+shift+d"]  

  #   Intellij 
  # - commands: ["shell-exec %USERPROFILE%\\Git\\Windows-Config\\Shortcuts\\idea64.lnk"]
  #   bindings: ["alt+u"]

##############################################################

# Change focus to a workspace defined in `workspaces` config.
  - commands: ["focus --workspace 1"]
    bindings: ["alt+1"]
  - commands: ["focus --workspace 2"]
    bindings: ["alt+2"]
  - commands: ["focus --workspace 3"]
    bindings: ["alt+3"]
  - commands: ["focus --workspace 4"]
    bindings: ["alt+4"]
  - commands: ["focus --workspace 5"]
    bindings: ["alt+5"]
  - commands: ["focus --workspace 6"]
    bindings: ["alt+6"]
  - commands: ["focus --workspace 7"]
    bindings: ["alt+7"]
  - commands: ["focus --workspace 8"]
    bindings: ["alt+8"]
  - commands: ["focus --workspace 9"]
    bindings: ["alt+9"]

  # Move focused window to a workspace defined in `workspaces` config.
  - commands: ["move --workspace 1", "focus --workspace 1"]
    bindings: ["alt+shift+1"]
  - commands: ["move --workspace 2", "focus --workspace 2"]
    bindings: ["alt+shift+2"]
  - commands: ["move --workspace 3", "focus --workspace 3"]
    bindings: ["alt+shift+3"]
  - commands: ["move --workspace 4", "focus --workspace 4"]
    bindings: ["alt+shift+4"]
  - commands: ["move --workspace 5", "focus --workspace 5"]
    bindings: ["alt+shift+5"]
  - commands: ["move --workspace 6", "focus --workspace 6"]
    bindings: ["alt+shift+6"]
  - commands: ["move --workspace 7", "focus --workspace 7"]
    bindings: ["alt+shift+7"]
  - commands: ["move --workspace 8", "focus --workspace 8"]
    bindings: ["alt+shift+8"]
  - commands: ["move --workspace 9", "focus --workspace 9"]
    bindings: ["alt+shift+9"]